VITE_FIREBASE_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_FIREBASE_AUTH_DOMAIN=skampa.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=skampa
VITE_FIREBASE_STORAGE_BUCKET=skampa.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=000000000000
VITE_FIREBASE_APP_ID=1:000000000000:web:xxxxxxxxxxxxxxxx

VITE_LOBBY_DOC=lobby/current
VITE_TTD3_TOURNAMENTS_COLL=td3/tournaments
VITE_CASH_TABLES_COLL=tables

